var/dbpedia

var/ras/*
!var/ras/example*
!var/ras/latest
var/ras/latest/*
!var/ras/latest/rdf
var/ras/latest/rdf/*
!var/ras/latest/rdf/ras.ttl

var/edirc/*
!var/edirc/example*
!var/edirc/latest
var/edirc/latest/*
!var/edirc/latest/rdf
var/edirc/latest/rdf/*
!var/edirc/latest/rdf/edirc.ttl

# exclude downloaded .csv sparql result files
ras_top*.csv

# should be used only for tdb
var/repec/*
